<div class="hero-about">
  <div class="main-container hero__content">
    <h1 class="heading-1">Careers</h1>
  </div>
  <div class="hero-bg about"></div>
</div>
<div class="main-container our-values">
  <div class="expertise__title">
    <h2 class="heading-3 expertise">BECOME PART OF A WINNING TEAM</h2>
    <div class="expertise-line"></div>
  </div>
  <p class="p--regular">
    MindPROS believes that a business can achieve its economic objectives and
    contribute to the well being of employees, clients and community. We hire
    the best and brightest technology professionals and offer them competitive
    salaries and benefits.<br /><br />
    We offer ongoing technical training to our employees. We also offer
    non-technical training to help them improve the quality of their lives. It
    teaches life-improving concepts such as meditation and positive thinking. We
    believe that a healthy mind, body and spirit are the foundation for
    happiness and prosperity. Our goal is to have long-term, mutually beneficial
    relationships with our employees. MindPROS is an Equal Opportunity Employer.
    So, if you are looking for a growing professional consulting company that
    believes in trust, openness, caring and fairness, MindPROS is your company!
    If you are interested in pursuing a career with MindPROS, please review the
    existing job opportunities. If your profile does not match any existing
    position, you can also mail us your resume to
    <a target="_top"
      ><span class="__cf_email__">[email&#160;protected]</span></a
    >
  </p>
  <br /><br />
  <h4>Referral Bonus:</h4>
  <p class="p--regular">
    MindPROS, Inc. offers an employee referral program to encourage employees to
    recommend qualified candidates. Our referral program provides employees with
    a referral bonus for successful hires made based upon an employee’s
    recommendation. If a recommended candidate is hired and completes 90 days of
    service, the employee who provided the referral will be entitled to a bonus
    of $500.00 (five hundred dollars only). All referred candidates will be
    considered and evaluated based on experience and qualifications, and they
    will be subject to the same pre-employment standards as all other
    candidates. Questions regarding this policy should be directed to Human
    Resources.
  </p>
  <div class="hr-line"></div>
  <div class="job-list">
    <div class="careers-title">Systems Engineer</div>
    <p class="p--regular">
      Baltimore, MD & various unanticipated client sites throughout U.S. Under
      the guidance of the Lead Systems Engineer, participate in business
      requirements analysis utilizing the Software Development Life Cycle
      (SDLC). Help develop feature-rich web user interfaces collaboratively to
      manage and monitor the client’s extensive ecosystem of applications,
      services, and hosts. Develop utilities to drive innovation and streamline
      workflows. Ensure solutions are aligned with business and IT strategies
      and comply with the organization’s architectural standards. Requires
      minimum of BS or equiv. in CS, CIS, IT-related Engineering,
      Information/Data, or a related field, with three (3) yrs of prior
      progressive professional experience in the position offered or related.
      Mail resumes to: MindPROS, Inc., Job SE, 21 Governors Ct, Suite 180,
      Baltimore, MD 21244.
    </p>
    <div class="careers-title">Lead Systems Engineer</div>
    <p class="p--regular">
      Baltimore, MD & various unanticipated client sites throughout U.S. Under
      the guidance of the Project Architect, participate in business
      requirements analysis utilizing the Software Development Life Cycle
      (SDLC). Develop feature-rich web user interfaces collaboratively to manage
      and monitor the client’s extensive ecosystem of applications, services,
      and hosts. Develop utilities to drive innovation and streamline workflows.
      Ensure solutions are aligned with business and IT strategies and comply
      with the organization’s architectural standards. Work independently,
      preparing project status reports & formal presentations as required.
      Requires minimum of MS or equiv. in CS, CIS, IT-related Engineering,
      Information/Data, or a related field. Mail resumes to: MindPROS, Inc., Job
      LSE, 21 Governors Ct, Suite 180, Baltimore, MD 21244.
    </p>
    <div class="careers-title">Senior IT Testing Specialist</div>
    <p class="p--regular">
      Baltimore, MD & various unanticipated client sites throughout U.S. Lead
      and develop the documentation of test scenarios and cases for complex
      systems and transactions. Perform functional testing, data validations,
      and regression testing of applications and coordinate user acceptance
      testing. Design test cases, plans, scenarios, scripts, or procedures.
      Execute the test cases. Analyze and document software defects, using a bug
      tracking system, and report defects to software developers and
      programmers. Work in Agile/Waterfall methodologies. Work independently,
      preparing project status reports & formal presentations as required.
      Requires minimum of BS or equiv. in CS, CIS, IT-related Engineering, or a
      related field, with five (5) yrs of prior progressive professional
      experience in the position offered or related. Mail resumes to: MindPROS,
      Inc., Job SITTS, 21 Governors Ct, Suite 180, Baltimore, MD 21244.
    </p>
    <div class="careers-title">Lead Data Engineer</div>
    <p class="p--regular">
      Baltimore, MD & various unanticipated client sites throughout U.S. Develop
      and improve data architecture. Design and code solutions on and off
      database for ensuring application access. Maintain data integrity and data
      availability. Work closely with end user communities to ensure enterprise
      data warehouse solutions and assets are actionable, accessible and
      evolving with the needs of the business model. Keep up to date with
      advances in data persistence and big data technologies. Work
      independently, providing project status reports & formal presentations as
      required. Requires minimum of MS or equiv. in CS, CIS, IT-related
      engineering, or a related field, with one (1) year of experience in
      position offered or related. Position also requires extended travel and/or
      relocation throughout U.S. Mail resumes to: MindPROS, Inc., Job DE, 21
      Governors Ct, Suite 180, Baltimore, MD 21244.
    </p>
    <div class="careers-title">Lead Front-End Developer</div>
    <p class="p--regular">
      Baltimore, MD & various unanticipated client sites throughout U.S.
      Implement high-performance web front-ends with focus on scalability for
      high visibility web pages. Implement using HTML5, CSS3, ES6 compliant
      javascript, and Twitter Bootstrap, and using frameworks such as Angular,
      Jquery and JQuery UI. Implement strategies to improve front-end
      performance using tools such as Webpack and Grunt. Responsible for the
      creation and execution of site optimization campaigns. Responsible for
      setup optimization goals and drive UI changes to achieve those goals. Work
      independently, preparing project status reports & formal presentations as
      required. Requires minimum of MS or equiv. in CS, CIS, Computer
      Applications, IT-related Engineering, or related, with one (1) year of
      prior experience in position offered or related. Extended travel and/or
      relocation throughout U.S. Mail resumes to: MindPROS, Inc., Job LFED, 21
      Governors Ct, Suite 180, Baltimore, MD 21244.
    </p>
    <div class="careers-title">Senior IT Testing Specialist</div>
    <p class="p--regular">
      Baltimore, MD & various unanticipated client sites throughout U.S. Lead
      and develop the documentation of test scenarios and cases for complex
      systems and transactions.  Perform functional testing, data validations,
      and regression testing of applications and coordinate user acceptance
      testing.  Design test cases, plans, scenarios, scripts, or procedures. 
      Execute the test cases.  Analyze and document software defects, using a
      bug tracking system, and report defects to software developers and
      programmers.  Work in Agile/Waterfall methodologies. Work independently,
      preparing project status reports & formal presentations as required.
      Requires minimum of BS or equiv. in CS, CIS, IT-related Engineering, or a
      related field, with five (5) yrs of prior progressive professional
      experience in the position offered or related. Extended travel and/or
      relocation throughout U.S. Mail resumes to: MindPROS, Inc., Job SITTS, 21
      Governors Ct, Suite 180, Baltimore, MD 21244.
    </p>
    <div class="careers-title">IT Project Manager</div>
    <p class="p--regular">
      Baltimore, MD, & various unanticipated client sites throughout U.S. Plan,
      initiate, & manage IT projects. Develop & update project plans for IT
      projects including project objectives, technologies, systems, information
      specifications, schedules, funding, and staffing.  Serve as liaison
      between business & technical aspects of projects. Monitor progress to
      assure deadlines, standards, and cost targets are met. Prepare project
      status reports by collecting, analyzing, and summarizing information and
      trends.  Requires minimum of MS or equiv. in CS, CIS, Computer
      Applications, IT-related Engineering, or a related field, with three (3)
      years of experience in the position offered or related. In the
      alternative, will accept BS or equiv. in the same fields with five (5) yrs
      of prior progressive professional experience in position offered or
      related. ScrumMaster certification required. Extended travel and/or
      relocation throughout U.S. Mail resumes to: MindPROS, Inc., Job ITPM, 21
      Governors Ct, Suite 180, Baltimore, MD 21244.
    </p>
  </div>
  <div id="values" class="anchor-point"></div>
</div>
