<footer class="footer">
  <div class="main-container footer">
    <div class="footer__main-content">
      <div>
        <a href="index.html" class="w-inline-block w--current"
          ><img
            src="./assets/images/MindPROS-Logo-white.svg"
            alt="MindPROS Logo"
        /></a>
        <div class="div-block-3">
          <a href="#" class="fa-brands footer__social-links"
            ><i class="fa fa-facebook-square" aria-hidden="true"></i></a
          ><a href="#" class="fa-brands footer__social-links"
            ><i class="fa fa-twitter-square" aria-hidden="true"></i></a
          ><a href="#" class="fa-brands footer__social-links"
            ><i class="fa fa-linkedin-square" aria-hidden="true"></i
          ></a>
        </div>
      </div>
      <div class="footer__links-grid">
        <div>
          <h6 class="p--button footer__titles">COMPANY</h6>
          <ul class="w-list-unstyled">
            <li class="footer__list-items">
              <a href="about-us.html" class="footer__links">About Us</a>
            </li>
            <li class="footer__list-items">
              <a href="/about-us.html#values" class="footer__links"
                >Core Values</a
              >
            </li>
            <li class="footer__list-items">
              <a href="careers.html" class="footer__links">Careers</a>
            </li>
            <li class="footer__list-items">
              <a href="clients.html" class="footer__links">Clients</a>
            </li>
            <li class="footer__list-items">
              <a href="contact-us.html" class="footer__links">Contact Us</a>
            </li>
          </ul>
        </div>
        <div>
          <h6 class="p--button footer__titles">learn more</h6>
          <ul class="w-list-unstyled">
            <li class="footer__list-items">
              <a href="products.html" class="footer__links">Products</a>
            </li>
            <li class="footer__list-items">
              <a href="services.html" class="footer__links">Services</a>
            </li>
            <li class="footer__list-items">
              <a href="/technology.html" class="footer__links">Technology</a>
            </li>
            <li class="footer__list-items">
              <a href="/training.html" class="footer__links">Training</a>
            </li>
            <li class="footer__list-items">
              <a href="/about-us.html#certifications" class="footer__links"
                >Certifications</a
              >
            </li>
          </ul>
        </div>
        <div id="w-node-c8363b293a72-3b293a3e">
          <h6 class="p--button footer__titles">contact</h6>
          <div class="p--regular address">
            21 Governors Ct, Suite 180, Baltimore, MD 21244. USA
          </div>
          <ul class="w-list-unstyled">
            <li class="footer__list-items contact">
              <div>
                <span class="fa-solid space-left-10"
                  ><i class="fa fa-phone" aria-hidden="true"></i></span
                ><a href="tel:4107755999" class="footer__links"
                  >(410) 775-5999</a
                >
              </div>
            </li>
            <li class="footer__list-items contact">
              <div>
                <span class="fa-solid space-left-10"
                  ><i class="fa fa-print" aria-hidden="true"></i></span
                ><a href="#" class="footer__links">(410) 775-5998</a>
              </div>
            </li>
            <li class="footer__list-items contact">
              <div>
                <span class="fa-solid space-left-10"
                  ><i class="fa fa-envelope" aria-hidden="true"></i></span
                ><a
                  href="./assets/cdn-cgi/l/email-protection#4f262129200f2226212b623f3d203c612c2022"
                  class="footer__links"
                  ><span
                    class="__cf_email__"
                    data-cfemail="b6dfd8d0d9f6dbdfd8d29bc6c4d9c598d5d9db"
                    >[email&#160;protected]</span
                  ></a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__copyright">
      <div>Copyright © 2018 MindPROS, Inc. All Rights Reserved.</div>
      <div class="div-block">
        <a href="privacy-policies.html" class="footer__links">Privacy Policy</a
        ><a href="security.html" class="footer__links">Security</a>
      </div>
    </div>
  </div>
</footer>
