<div class="hero-about">
  <div class="main-container hero__content">
    <h1 class="heading-1">About MindPROS</h1>
    <p class="p--regular">
      Professional, dynamic, and self-dedicated team members founded this
      company. Now MindPROS has dedicated its team to diversify in various
      fields. MindPROS has recognized that achievements are only by reason of
      its team spirit and self-confidence that keep in satisfying our customers.
      The main reason for our survival in this competitive field is unbeatable
      Service and Quality that helps us to upgrade our organization, and we
      won’t just deliver products we over-deliver products to our clients, which
      will full fill their desires which is beyond their expectation.
    </p>
  </div>
  <div class="hero-bg about"></div>
</div>
<div class="main-container our-values">
  <div class="expertise__title">
    <h2 class="heading-3 expertise">Our Core Values</h2>
    <div class="expertise-line"></div>
  </div>
  <div class="services-grid">
    <div class="grid-filler hide"></div>
    <div id="w-node-d1cd28437a33-f5d49abc" class="services-container">
      <div>
        <div class="fa-normal services-icon"></div>
        <h4 class="heading-5">Dedication</h4>
        <p class="p--regular">To every client’s success.</p>
      </div>
    </div>
    <div class="services-container">
      <div>
        <div class="fa-normal services-icon"></div>
        <h4 class="heading-5">Customer Focus</h4>
        <p class="p--regular">
          Goes above and beyond to deliver products to our clients that will
          fill their desires beyond their expectations.
        </p>
      </div>
    </div>
    <div class="services-container">
      <div>
        <div class="fa-normal services-icon"></div>
        <h4 class="heading-5">Passion and Innovation</h4>
        <p class="p--regular">
          Achievements are only by reason of our team spirits, self-confidence,
          and drive to lead in the industry’s most advanced IT developments.
        </p>
      </div>
    </div>
    <div class="grid-filler hide"></div>
    <div class="grid-filler hide"></div>
    <div class="services-container">
      <div>
        <div class="fa-normal services-icon">
          <i class="fa fa-address-card-o" aria-hidden="true"></i>
        </div>
        <h4 class="heading-5">Quality Services</h4>
        <p class="p--regular">
          Survival In this competitive field takes unbeatable service and
          quality and helps us to upgrade our organization.
        </p>
      </div>
    </div>
    <div class="services-container">
      <div>
        <div class="fa-normal services-icon"></div>
        <h4 class="heading-5"><strong>Professionalism</strong></h4>
        <p class="p--regular">
          Highly qualified and trained team of professionals who thoroughly
          understand various technologies and the needs of the clients.
        </p>
      </div>
    </div>
    <div class="services-container">
      <div>
        <div class="fa-normal services-icon"></div>
        <h4 class="heading-5">Integrity &amp; Compliance</h4>
        <p class="p--regular">
          Seriously take our reputation for integrity, ethical behavior and
          lawfulness in our individual and collective hands.
        </p>
      </div>
    </div>
    <div class="grid-filler hide"></div>
  </div>
  <div id="values" class="anchor-point"></div>
</div>
<div class="full-width-section mp-gradient">
  <div class="main-container why-mindpros">
    <div class="expertise__title">
      <h2 class="heading-3 expertise">Why MindPROS?</h2>
      <div class="expertise-line"></div>
    </div>
    <p class="p--regular">
      The core strength of MindPROS is its highly motivated and empowered staff,
      their domain knowledge, expertise, and experience in state-of-the-art
      technologies. Above all, we work in close association with our clients,
      understanding their specific needs, and providing solutions that support
      their business strategy in today’s competitive and volatile business
      environment.
    </p>
    <div class="certificates-grid">
      <div class="div-block-11">
        <div class="text-block">
          <span class="text-span">10+</span>
          <span class="text-span-2">Years in<br />Operation</span>
        </div>
      </div>
      <div class="div-block-11">
        <div class="text-block">
          <span class="text-span">20+</span>
          <span class="text-span-2">Active<br />Clients</span>
        </div>
      </div>
      <div class="div-block-11">
        <div class="text-block">
          <span class="text-span">100+</span>
          <span class="text-span-2">Customers<br />Served</span>
        </div>
      </div>
    </div>
    <p class="p--regular">
      What really makes MindPROS special is our people-oriented culture and
      practices. We are proud of the friendly, concerted atmosphere that exists
      in our work. Round the clock, MindPROS is committed to cater to your needs
      and is passionate about their work. We reward high performance, and we
      encourage growth and mobility. With creativity, keen acumen, and
      ingenuity, our consultants ensure that your business touches the dizzying
      heights of success. Our consultants include strategists, creative
      directors, planners, designers, developers, project managers, and
      communications professionals. Our professional and dynamic team of
      technologically driven consultants gives solidity in the story up.
    </p>
    <div class="certifications-container">
      <div class="certifications-group">
        <div class="certificates-title">
          Full Design/ Low Risk Management System Standard
        </div>
        <div class="certificates-grid">
          <img
            src="./assets/about/Product Development  CMMI.svg"
            width="250"
            alt
          /><img src="./assets/about/iso-9001.svg" width="130" alt /><img
            src="./assets/about/iso-45001.svg"
            width="130"
            alt
          /><img src="./assets/about/iso-14001.svg" width="130" alt /><img
            src="./assets/about/iso-27001.svg"
            width="130"
            alt
          /><img src="./assets/about/MBE.svg" width="130" alt /><img
            src="./assets/about/E-Verify_logo.svg"
            alt
          />
          <img src="./assets/about/Awards-01.png" width="135" alt />
          <img src="./assets/about/Awards-02.png" width="135" alt />
          <img src="./assets/about/Awards-03.png" width="135" alt />
          <img src="./assets/about/Awards-04.png" width="135" alt />
          <img src="./assets/about/Awards-05.png" width="135" alt />
        </div>
      </div>
      <div class="large-shadow"></div>
      <div id="certifications" class="anchor-point"></div>
    </div>
  </div>
</div>
<div class="main-container expertise-section">
  <div class="expertise__title">
    <h2 class="heading-3 expertise">Personnel Certifications</h2>
    <div class="expertise-line"></div>
  </div>
  <div class="certify-grid">
    <div class="items">
      <img src="./assets/about/Logos-001.png" />
    </div>
    <div class="items">
      <img src="./assets/about/Logos-002.png" />
    </div>
    <div class="items">
      <img src="./assets/about/Logos-003.png" />
    </div>
    <div class="items">
      <img src="./assets/about/Logos-004.png" />
    </div>
    <div class="items">
      <img src="./assets/about/Logos-007.png" />
    </div>
    <div class="items">
      <img src="./assets/about/Logos-006.png" />
    </div>
    <div class="items">
      <img src="./assets/about/Logos-005.png" />
    </div>
    <div class="items">
      <img src="./assets/about/Logos-012.png" alt />
    </div>
    <div class="items">
      <img src="./assets/about/Logos-008.png" />
    </div>
    <div class="items">
      <img src="./assets/about/Logos-009.png" alt />
    </div>
    <div class="items">
      <img src="./assets/about/Logos-010.png" alt />
    </div>
    <div class="items">
      <img src="./assets/about/Logos-011.png" alt />
    </div>
  </div>
</div>
<div class="main-container clients clients-about-pg">
  <div class="section-label-wrap">
    <div class="label-divider"></div>
    <h2 class="p--button section-label">our esteemed clients</h2>
    <div class="label-divider"></div>
  </div>
  <h3 class="heading-3 section-heading">Our Happy Customers</h3>
  <div class="clients-grid">
    <img src="./assets/about/cvp-logo.png" width="150" alt /><img
      src="./assets/about/CGI-logo.png"
      width="80"
      alt
    /><img src="./assets/about/deloitte-logo-1.png" width="150" alt /><img
      src="./assets/about/WD-Logo-Colored.png"
      width="150"
      alt
    /><img src="./assets/about/actionet-logo.png" width="150" alt /><img
      src="./assets/about/pe-logo.png"
      width="160"
      alt
    /><img src="./assets/about/VTEK.png" width="150" alt /><img
      src="./assets/about/Savantis_logo.png"
      width="150"
      alt
    /><img src="./assets/about/the-aci-group.png" alt /><img
      src="./assets/about/polar.png"
      width="140"
      alt
    /><img src="./assets/about/paradigm.png" alt /><img
      src="./assets/about/northrop-grumman.png"
      width="150"
      alt
    /><img src="./assets/about/leidos.png" width="150" alt /><img
      src="./assets/about/kforce-inc.png"
      width="150"
      alt
    /><img src="./assets/about/issi.png" width="120" alt /><img
      src="./assets/about/mor-software.png"
      width="150"
      alt
    /><img src="./assets/about/RandBLogo.png" width="150" alt /><img
      src="./assets/about/ket-systems.png"
      alt
    /><img src="./assets/about/infolabs.png" width="160" alt /><img
      src="./assets/about/finra.png"
      width="140"
      alt
    /><img src="./assets/about/ESIMPLICITY.png" width="170" alt /><img
      src="./assets/about/CareMetx_logo.png"
      width="150"
      alt
    /><img src="./assets/about/consortium.png" width="150" alt />
    <img src="./assets/about/Logos-01.png" alt />
    <img src="./assets/about/Logos-02.png" alt />
    <img src="./assets/about/Logos-03.png" alt />
    <img src="./assets/about/Logos-04.png" alt />
    <img src="./assets/about/Logos-05.png" alt />
    <img src="./assets/about/Logos-06.png" alt />
    <img src="./assets/about/Logos-07.png" alt />
    <img src="./assets/about/Logos-08.png" alt />
    <img src="./assets/about/Logos-09.png" alt />
    <img src="./assets/about/Logos-10.png" alt />
    <img src="./assets/about/Logos-11.png" alt />
    <img src="./assets/about/Logos-12.png" alt />
    <img src="./assets/about/Logos-13.png" alt />
    <img src="./assets/about/Logos-14.png" alt />
    <img src="./assets/about/Logos-15.png" alt />
    <img src="./assets/about/Logos-16.png" alt />
    <img src="./assets/about/Logos-17.png" alt />
  </div>
</div>
