<header class="header">
  <div class="header__links-wrap">
    <div class="main-container header-contact">
      <div class="header__contact">
        <a href="tel:4107755999" class="header-contact-link"
          ><span class="fa-solid space-left-10"
            ><i class="fa fa-phone" aria-hidden="true"></i></span
          >(410) 775-5999</a
        ><a class="header-contact-link"
          ><span class="fa-solid space-left-10"
            ><i class="fa fa-envelope" aria-hidden="true"></i></span
          ><span class="__cf_email__">[email&#160;protected]</span></a
        >
      </div>
      <div class="header__other-links">
        <a routerLink="/careers" class="header-contact-link">Careers</a
        ><a
          href="http://3.218.140.109:4200"
          target="_blank"
          rel="noopener noreferrer"
          class="header-contact-link"
          >Employee Area</a
        >
        <div>
          <a href="#" class="header-contact-link fa-brands header-social-links"
            ><i class="fa fa-facebook-square" aria-hidden="true"></i></a
          ><a href="#" class="header-contact-link fa-brands header-social-links"
            ><i class="fa fa-twitter-square" aria-hidden="true"></i></a
          ><a href="#" class="header-contact-link fa-brands header-social-links"
            ><i class="fa fa-linkedin-square" aria-hidden="true"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
  <div class="main-container header__nav-wrap">
    <a href="index.html" class="w-inline-block w--current"
      ><img
        src="./assets/images/MindPROS-Logo.svg"
        alt="MindPROS Logo"
        class="header-logo"
    /></a>
    <div
      data-collapse="medium"
      data-animation="default"
      data-duration="500"
      data-easing="ease-out-quint"
      data-easing2="ease-out-quint"
      class="navbar w-nav"
    >
      <div class="w-container">
        <nav role="navigation" class="nav-menu w-nav-menu">
          <a routerLink="/" class="nav-link w-nav-link">home</a>
          <a routerLink="/about" class="nav-link w-nav-link">about</a>
          <a routerLink="/services" class="nav-link w-nav-link">services</a>
          <a routerLink="/products" class="nav-link w-nav-link">products</a>
          <a routerLink="/client" class="nav-link w-nav-link">clients</a>
          <a routerLink="/contact" class="nav-link w-nav-link">contact</a>
        </nav>
        <div class="menu-button w-nav-button">
          <div class="p--button">MENU</div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <router-outlet></router-outlet>
</div>
