<div class="main-container policies">
  <div class="policy-text w-richtext">
    <h1>Security</h1>
    <h3>
      <strong>KEEPING YOU SAFE IN EVERY WAY, WITH NO DOWN TIME<br /></strong>
    </h3>
    <p>
      In a data-driven environment, data and network security is paramount.
      That’s why MindPROS, Inc. meets the highest standards and adheres to
      stringent policies designed to keep your data safe and secure. Our
      software is hosted on secure servers in top tier data centers that follow
      the same stringent policies and standards, so you can rest assured that
      your information is safe and your business processes won’t be disrupted.
    </p>
    <p>
      Our up-time rating of 99.999% is the best you’ll find. We engineered our
      operations with the latest intrusion detection and physical
      infrastructure, making our products and services scalable and available to
      our customers when and where they need it. We’re prepared for any weather
      catastrophe, power outage, or system attack – you can count on us to keep
      our systems up and running.
    </p>
    <p>
      For more information on our security and privacy protocols please
      <a href="/contact">contact us.</a><br />
    </p>
  </div>
</div>
