<div class="hero-about">
  <div class="main-container hero__content">
    <h1 class="heading-1">Technology</h1>
    <p class="p--regular">
      MindPROS was founded on engineering mission-critical software applications
      that solve unique business challenges. MindPROS provides services in a
      wide variety of technologies from Tier 1 help desk support to Enterprise
      Application Architecture. We offer the following benefits to our clients
    </p>
  </div>
  <div class="hero-bg tech"></div>
</div>
<div class="main-container our-values">
  <div class="expertise__title">
    <h2 class="heading-3 expertise">Enterprise Application Architecture</h2>
    <div class="expertise-line"></div>
  </div>
  <p class="p--regular">
    MindPROS is recognized for their expertise as a Solutions development
    company. We approach every project and application focusing on what will
    most benefit the client, and design the application accordingly. We have a
    highly competent staff to meet the Enterprise Application Architecture
    requirements such as
  </p>
  <ul class="tech-points">
    <li class="list-items">
      <i class="fa fa-arrow-right" style="color: #2d3091"></i>Java Programming
      (Java, JEE, EJB, Spring, Hibernate)
    </li>
    <li class="list-items">
      <i class="fa fa-arrow-right" style="color: #2d3091"></i> Web Services
      Development (UDDI, WSDL, SOAP, REST)
    </li>
    <li class="list-items">
      <i class="fa fa-arrow-right" style="color: #2d3091"></i>Microsoft .Net
      Development
    </li>
    <li class="list-items">
      <i class="fa fa-arrow-right" style="color: #2d3091"></i>Database
      Administration (Oracle, Microsoft SQL/Server, MySQL)
    </li>
    <li class="list-items">
      <i class="fa fa-arrow-right" style="color: #2d3091"></i>Oracle Application
      Server/Portal
    </li>
    <li class="list-items">
      <i class="fa fa-arrow-right" style="color: #2d3091"></i>Oracle Content
      Management Solutions
    </li>
    <li class="list-items">
      <i class="fa fa-arrow-right" style="color: #2d3091"></i>TIBCO
    </li>
    <li class="list-items">
      <i class="fa fa-arrow-right" style="color: #2d3091"></i>Microsoft
      SharePoint Server Solutions
    </li>
    <li class="list-items">
      <i class="fa fa-arrow-right" style="color: #2d3091"></i>ColdFusion
      Programming
    </li>
  </ul>
  <div class="careers-title">Enterprise Content Management</div>
  <p class="p--regular">
    MindPROS has extensive experience implementing enterprise content management
    system for both small and large organizations. We are technology agnostic
    and recommend products based on each client’s specific needs. In the past we
    have implemented solutions utilizing technologies such as IBM Filenet,
    Documentum, Adobe LiveCycle, SharePoint, Common Spot, and Drupal.
  </p>
  <div class="careers-title">Maintenance and Operations</div>
  <p class="p--regular">
    MindPROS provides a breadth of services in the maintenance and operations
    field. We provide personnel for all levels of help desk, system
    administrators, network administrators, and system architects. We also
    provide a variety of security focused services such as application and
    network security reviews and FIPS compliant system design.
  </p>
  <div id="values" class="anchor-point"></div>
</div>
