<div class="hero-products">
  <div class="main-container hero__content">
    <h1 class="heading-1">Our Products</h1>
  </div>
  <div class="hero-bg product"></div>
</div>
<div class="main-container product-page">
  <div class="products-group">
    <div class="product-item">
      <div class="product-logo-container mp-gradient">
        <img src="../../assets/productimage/Partner dashboard logo.svg" />
      </div>
      <div class="product-text-group">
        <h2 class="heading-3">Partner Dashboard</h2>
        <p class="p--regular">
          Partner Dashboard is an essential collection mechanism and repository
          of information critical to understanding and adjusting workloads and
          resources in operations. Partner Dashboard is also evolving into an
          interactive program. Visitors who check for scheduled appointments or
          walk-in for other business are placed into a queue and employees are
          notified they are present.
        </p>
      </div>
      <div class="large-shadow"></div>
      <div id="PartnerDashboard" class="anchor-point"></div>
    </div>
    <div class="product-item">
      <div class="product-logo-container mp-gradient">
        <img
          src="../../assets/productimage/VisitorPros.svg"
          alt
          class="p-logo"
        />
      </div>
      <div class="product-text-group">
        <h2 class="heading-3">VisitorPROS</h2>
        <p class="p--regular">
          MindPROS developed a employee and visitor check-in application for
          mobile and desktop. The application provides automated check-in,
          customized visitor experience, notifications to the employees when the
          visitor arrives by accessing active directory.
        </p>
      </div>
      <div class="large-shadow"></div>
      <div id="visitorpros" class="anchor-point"></div>
    </div>
    <div class="product-item">
      <div class="product-logo-container mp-gradient">
        <img
          src="../../assets/productimage/eHealthPROS.svg"
          alt
          class="p-logo"
        />
      </div>
      <div class="product-text-group">
        <h2 class="heading-3">eHealthPROS</h2>
        <p class="p--regular">
          MindPROS developed a more comprehensive patient’s overall health
          application which include the medical records of the patients. The EHR
          software is a computer system that helps healthcare providers manage
          patient medical records and automate clinical workflows. EHR systems
          allow providers to create customizable templates for taking notes
          during patient encounters.
        </p>
      </div>
      <div class="large-shadow"></div>
      <div id="ehealthpros" class="anchor-point"></div>
    </div>
    <div class="product-item">
      <div class="product-logo-container mp-gradient">
        <img src="../../assets/productimage/eDataPROS.svg" alt class="p-logo" />
      </div>
      <div class="product-text-group">
        <h2 class="heading-3">eDataPROS</h2>
        <p class="p--regular">
          MindPROS has developed this next generation multi tenant hadoop based
          batch processing system that is responsible for collecting and mining
          billions of events on a daily basis. The metrics generated are used
          for BI, Behavioral and pattern targeting.
        </p>
      </div>
      <div class="large-shadow"></div>
      <div id="edatapros" class="anchor-point"></div>
    </div>
    <div class="product-item">
      <div class="product-logo-container mp-gradient">
        <img
          src="../../assets/productimage/eSchoolPROS.svg"
          alt
          class="p-logo"
        />
      </div>
      <div class="product-text-group">
        <h2 class="heading-3">eSchoolPROS</h2>
        <p class="p--regular">
          MindPROS developed a cloud-based K-12 school administrative software
          that is easy-to-use. The software includes school pupil Attendance,
          Scheduling, Grading, Report Cards, Discipline, Online Forms, Billing,
          Accounting, Web Portals, Mobile Apps, Library, Admissions with Online
          Applications and Forms, and much more.
        </p>
      </div>
      <div class="large-shadow"></div>
      <div id="eschoolpros" class="anchor-point"></div>
    </div>
  </div>
</div>
