<div class="hero-home" style="margin-top: 160px">
  <div class="main-container hero__content">
    <div class="hero_left-lt">
      <img
        src="./assets/images/hero_home_video.gif"
        alt
        style="width: 98%; margin: 0 auto 21px"
      />
    </div>
    <div class="hero_right-lt">
      <h1 class="heading-1">
        UnlimITed Possibilities with Each New Tailored IT Program
      </h1>
      <p class="p--bold">
        At MindPROS, a truly unique company within the IT consulting industry,
        we provide best-in-class IT consulting services to our customers while
        balancing the needs and aspirations of our employees. We operate as
        Prime Vendors/ Subcontractors and fulfill the direct needs of our
        federal and state government partners.
      </p>
      <div class="hero__buttons">
        <a href="products.html" class="btn-primary w-button">our products</a
        ><a href="contact-us.html" class="btn-secondary w-button">contact us</a>
      </div>
    </div>
  </div>
</div>
<div
  data-delay="3000"
  data-animation="slide"
  data-autoplay="1"
  data-easing="ease-in-out-quart"
  data-nav-spacing="5"
  data-duration="800"
  data-infinite="1"
  class="clients-slider w-slider"
>
  <div class="w-slider-mask">
    <div class="w-slide">
      <div class="main-container clients-slide-wrap">
        <img src="./assets/images/cvp-logo.png" width="150" alt /><img
          src="./assets/images/CGI-logo.png"
          width="80"
          alt
        /><img src="./assets/images/deloitte-logo-1.png" width="150" alt /><img
          src="./assets/images/WD-Logo-Colored.png"
          width="150"
          alt
        /><img src="./assets/images/actionet-logo.png" width="150" alt /><img
          src="./assets/images/pe-logo.png"
          width="150"
          alt
        />
      </div>
    </div>
    <div class="w-slide">
      <div class="main-container clients-slide-wrap">
        <img src="./assets/images/leidos.png" width="150" alt /><img
          src="./assets/images/infolabs.png"
          width="150"
          alt
        /><img src="./assets/images/ESIMPLICITY.png" width="150" alt /><img
          src="./assets/images/consortium.png"
          width="150"
          alt
        /><img src="./assets/images/CareMetx_logo.png" width="150" alt /><img
          src="./assets/images/finra.png"
          width="150"
          alt
        />
      </div>
    </div>
    <div class="w-slide">
      <div class="main-container clients-slide-wrap">
        <img src="./assets/images/polar.png" width="120" alt /><img
          src="./assets/images/RandBLogo.png"
          width="150"
          alt
        /><img src="./assets/images/the-aci-group.png" width="150" alt /><img
          src="./assets/images/northrop-grumman.png"
          width="150"
          alt
        /><img src="./assets/images/kforce-inc.png" width="150" alt /><img
          src="./assets/images/Savantis_logo.png"
          width="150"
          alt
        />
      </div>
    </div>
    <div class="w-slide">
      <div class="main-container clients-slide-wrap">
        <img src="./assets/images/VTEK.png" width="150" alt /><img
          src="./assets/images/ket-systems.png"
          width="150"
          alt
        /><img src="./assets/images/issi.png" width="100" alt /><img
          src="./assets/images/paradigm.png"
          width="150"
          alt
        /><img src="./assets/images/mor-software.png" width="150" alt />
        <img src="./assets/images/Logos-01.png" alt />
      </div>
    </div>
    <div class="w-slide">
      <div class="main-container clients-slide-wrap">
        <img src="./assets/images/Logos-02.png" alt /><img
          src="./assets/images/Logos-03.png"
          alt
        /><img src="./assets/images/Logos-04.png" alt /><img
          src="./assets/images/Logos-05.png"
          alt
        /><img src="./assets/images/Logos-06.png" alt /><img
          src="./assets/images/Logos-07.png"
          alt
        />
      </div>
    </div>
    <div class="w-slide">
      <div class="main-container clients-slide-wrap">
        <img src="./assets/images/Logos-08.png" alt /><img
          src="./assets/images/Logos-09.png"
          alt
        /><img src="./assets/images/Logos-10.png" alt /><img
          src="./assets/images/Logos-11.png"
          alt
        /><img src="./assets/images/Logos-12.png" alt /><img
          src="./assets/images/Logos-13.png"
          alt
        />
      </div>
    </div>
    <div class="w-slide">
      <div class="main-container clients-slide-wrap">
        <img src="./assets/images/Logos-14.png" alt /><img
          src="./assets/images/Logos-15.png"
          alt
        /><img src="./assets/images/Logos-16.png" alt /><img
          src="./assets/images/Logos-17.png"
          alt
        />
        <!-- <span>&nbsp</span><span>&nbsp</span> -->
      </div>
    </div>
  </div>
  <div class="left-arrow w-slider-arrow-left">
    <div class="w-icon-slider-left"></div>
  </div>
  <div class="right-arrow w-slider-arrow-right">
    <div class="w-icon-slider-right"></div>
  </div>
  <div class="slider-dots w-slider-nav w-slider-nav-invert w-round"></div>
</div>
<div class="section">
  <div class="main-container">
    <div>
      <div class="section-label-wrap">
        <div class="label-divider"></div>
        <h2 class="p--button section-label">our services</h2>
        <div class="label-divider"></div>
      </div>
      <h3 class="heading-3 section-heading">
        Here’s How We Can Help Your Business
      </h3>
      <div class="services-grid">
        <div class="grid-filler hide"></div>
        <div id="w-node-98e867cfc06c-ff20eba2" class="services-container">
          <div>
            <div class="fa-normal services-icon">
              <i class="fa fa-tasks" aria-hidden="true"></i>
            </div>
            <h4 class="heading-5">IT Managed Services</h4>
            <p class="p--regular">
              Our Business Services combine our capabilities across management
              consulting, technology, and business process outsourcing to
              provide flexible and scalable end-to-end services.
            </p>
          </div>
          <a href="/services#all-services" class="text-button"
            >read morE<span class="fa-solid space-right-10"
              ><i class="fa fa-arrow-right" aria-hidden="true"></i></span
          ></a>
        </div>
        <div class="services-container">
          <div>
            <div class="fa-normal services-icon">
              <i class="fa fa-user" aria-hidden="true"></i>
            </div>
            <h4 class="heading-5">Outsourcing Services</h4>
            <p class="p--regular">
              We enable high performance for our clients’ business operations
              through outsourcing management. Our experience and global
              capabilities make us a world leader in application,
              infrastructure, business process, and bundled outsourcing.
            </p>
          </div>
          <a href="/services#all-services" class="text-button"
            >read morE<span class="fa-solid space-right-10"
              ><i class="fa fa-arrow-right" aria-hidden="true"></i></span
          ></a>
        </div>
        <div class="services-container">
          <div>
            <div class="fa-normal services-icon">
              <i class="fa fa-flag" aria-hidden="true"></i>
            </div>
            <h4 class="heading-5">Staff and Augmentation</h4>
            <p class="p--regular">
              Our IT staff augmentation team has expert knowledge in the tech
              industry and in your local job market to help you find the right
              IT professionals.
            </p>
          </div>
          <a href="/services#all-services" class="text-button"
            >read morE<span class="fa-solid space-right-10"
              ><i class="fa fa-arrow-right" aria-hidden="true"></i></span
          ></a>
        </div>
        <div class="grid-filler hide"></div>
        <div class="grid-filler hide"></div>
        <div class="services-container">
          <div>
            <div class="fa-normal services-icon">
              <i class="fa fa-desktop" aria-hidden="true"></i>
            </div>

            <h4 class="heading-5">Online Training</h4>
            <p class="p--regular">
              MindPROS provides comprehensive, cost-effective, and
              solution-based training for corporations, career seekers, and
              government entities wanting to expand their IT skills in their
              current professions or are looking to take the first step toward
              new careers.
            </p>
          </div>
          <a href="/training" class="text-button"
            >read morE<span class="fa-solid space-right-10"
              ><i class="fa fa-arrow-right" aria-hidden="true"></i></span
          ></a>
        </div>
        <div class="services-container">
          <div>
            <div class="fa-normal services-icon">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
            </div>
            <h4 class="heading-5">Our Technologies</h4>
            <p class="p--regular">
              MindPROS provides services in a wide variety of technologies from
              Software Development to Tier 1 help desk support to Enterprise
              Application Architecture.
            </p>
          </div>
          <a href="/services#technology" class="text-button"
            >read morE<span class="fa-solid space-right-10"
              ><i class="fa fa-arrow-right" aria-hidden="true"></i></span
          ></a>
        </div>
        <div class="services-container">
          <div>
            <div class="fa-normal services-icon">
              <i class="fa fa-cogs" aria-hidden="true"></i>
            </div>
            <h4 class="heading-5">And much more...</h4>
            <p class="p--regular">
              MindPROS provides a breadth of services in the maintenance and
              operations field. We provide personnel for all levels of help
              desk, system administrators, network administrators, and system
              architects.
            </p>
          </div>
          <a href="/services" class="text-button"
            >view all services<span class="fa-solid space-right-10"
              ><i class="fa fa-arrow-right" aria-hidden="true"></i></span
          ></a>
        </div>
        <div class="grid-filler hide"></div>
      </div>
    </div>
  </div>
</div>
<div class="full-width-section mp-gradient">
  <div class="main-container products-wrap">
    <div class="section-label-wrap">
      <div class="label-divider"></div>
      <h2 class="p--button section-label">our products</h2>
      <div class="label-divider"></div>
    </div>
    <h3 class="heading-3 section-heading">Some of Our Best Products</h3>
    <div class="products-overflow">
      <div class="products-grid">
        <div class="grid-filler"></div>
        <div id="w-node-5498583f0f3c-ff20eba2" class="products-container">
          <div class="mp-gradient product-logo-wrap">
            <img
              src="./assets/images/Partner dashboard logo.svg"
              alt
              class="product-logo"
              style="margin: 34px; max-height: 95px"
            />
          </div>
          <div class="products__text">
            <h4 class="heading-5">Partner Dashboard</h4>
            <p class="p--regular">
              Employee and visitor check-in application for mobile and desktop
            </p>
            <a href="/products#PartnerDashboard" class="text-button"
              >read morE<span class="fa-solid space-right-10"
                ><i class="fa fa-arrow-right" aria-hidden="true"></i></span
            ></a>
          </div>
        </div>
        <div class="products-container">
          <div class="mp-gradient product-logo-wrap">
            <img
              src="./assets/images/VisitorPros.svg"
              alt
              class="product-logo"
            />
          </div>
          <div class="products__text">
            <h4 class="heading-5">VisitorPros</h4>
            <p class="p--regular">
              Employee and visitor check-in application for mobile and desktop
            </p>
            <a href="/products#visitorpros" class="text-button"
              >read morE<span class="fa-solid space-right-10"
                ><i class="fa fa-arrow-right" aria-hidden="true"></i></span
            ></a>
          </div>
        </div>
        <div class="grid-filler"></div>
      </div>
    </div>
    <a href="/products" class="btn-primary w-button">view our products</a>
  </div>
</div>
<div class="main-container expertise-section">
  <div class="expertise__title">
    <h2 class="heading-3 expertise">Our Expertise</h2>
    <div class="expertise-line"></div>
  </div>
  <div class="expertise__content">
    <p class="p--regular">
      Our business-centric approach empowers our team of professionals to
      identify needs, devise a plan of action, and implement all phases of the
      software development lifecycle. By combining our comprehensive
      infrastructure and application expertise with industry best practices, our
      clients receive exceptional results, improved efficiency, and a measurable
      return on investment. This unique combination of systems and software
      engineering enhances our core capabilities to design, build, and support
      end-to-end technology solutions, solving the most challenging issues.
    </p>
    <div class="expertise__list-container">
      <h3 class="heading-4">
        We offer many services and technical solutions including, but not
        limited to, the following:
      </h3>
      <ul class="expertise-list w-list-unstyled">
        <li class="expertise-list-item">
          <h5 class="expertise-text">
            Managing and Maintaining All Installed Systems and Infrastructure.
          </h5>
        </li>
        <li class="expertise-list-item">
          <h5 class="expertise-text">
            Installing, Configuring, Testing, and Maintaining Operating Systems.
          </h5>
        </li>
        <li class="expertise-list-item">
          <h5 class="expertise-text">
            Maintaining and Administering Computer Networks and Related Computer
            Environments such as:
          </h5>
          <ul class="expertise-sublist">
            <li class="expertise-sublist-item">System Software</li>
            <li class="expertise-sublist-item">Application Software</li>
            <li class="expertise-sublist-item last">Hardware Configuration</li>
          </ul>
        </li>
        <li class="expertise-list-item">
          <h5 class="expertise-text">
            Protecting Data, Software, and Hardware by Coordinating, Planning,
            and Implementing Network Security Measures.
          </h5>
        </li>
        <li class="expertise-list-item">
          <h5 class="expertise-text">
            Building and Troubleshooting Computer Networks.
          </h5>
        </li>
        <li class="expertise-list-item">
          <h5 class="expertise-text">
            Setup, Repair, and Troubleshooting both Software and Hardware.
          </h5>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="full-width-section mp-gradient testimonials-section">
  <div class="main-container products-wrap">
    <div class="section-label-wrap">
      <div class="label-divider"></div>
      <h2 class="p--button section-label">testimonials</h2>
      <div class="label-divider"></div>
    </div>
    <h3 class="heading-3 section-heading">
      Our Clients Only Have Nice Things to Say
    </h3>
    <div
      data-delay="3000"
      data-animation="slide"
      data-autoplay="1"
      data-easing="ease-in-out-quart"
      data-nav-spacing="5"
      data-duration="800"
      data-infinite="1"
      class="reviews-slider w-slider"
    >
      <div class="mask w-slider-mask">
        <div class="slide w-slide">
          <div class="review-group">
            <div class="reviewer-info">
              <img
                src="./assets/images/client-image-1.jpg"
                width="115"
                alt
                class="reviewer-image"
              />
              <div class="reviewer-name">
                HR, Camelot<br /><span class="reviewer-title"></span>
              </div>
            </div>
            <p class="p--regular">
              <span class="fa-normal quote"
                ><i
                  class="fa fa-quote-left fa-2x fa-pull-left"
                  aria-hidden="true"
                ></i></span
              >MindPROS distinguishes themselves from others in similar
              positions by being genuinely passionate, caring and professional.
              They have a detailed understanding of the market and is able to
              provide our managers with advice every step of the way throughout
              the recruitment process. MindPROS is super personable and
              attentive to anyone they are recruiting for and is really
              dedicated to sourcing for our needs. I would recommend MindPROS to
              any shared service centers looking for recruitment!
            </p>
          </div>
        </div>
        <div class="slide w-slide">
          <div class="review-group">
            <div class="reviewer-info">
              <img
                src="./assets/images/client-image-2.jpg"
                width="115"
                alt
                class="reviewer-image"
              />
              <div class="reviewer-name">
                CEO, Actionet<br /><span class="reviewer-title"></span>
              </div>
            </div>
            <p class="p--regular">
              <span class="fa-normal quote"
                ><i
                  class="fa fa-quote-left fa-2x fa-pull-left"
                  aria-hidden="true"
                ></i></span
              >I find MindPROS to be very engaging, dependable and high in
              integrity. They identified several people for our company
              successfully. As an international distributor, we often times
              require our staff to have a multi-lingual component. MindPROS
              delivers. Additionally, when I was in need of immediate short term
              staffing assistance; They were quick to help. MindPROS is very
              effective at their job and it’s a pleasure to recommend them as an
              accomplished recruiting professionals.
            </p>
          </div>
        </div>
        <div class="slide w-slide">
          <div class="review-group">
            <div class="reviewer-info">
              <img
                src="./assets/images/client-image-3.jpg"
                width="115"
                alt
                class="reviewer-image"
              />
              <div class="reviewer-name">
                Vice President, VTek<br /><span class="reviewer-title"></span>
              </div>
            </div>
            <p class="p--regular">
              <span class="fa-normal quote"
                ><i
                  class="fa fa-quote-left fa-2x fa-pull-left"
                  aria-hidden="true"
                ></i></span
              >I have been working with People in MindPROS for over 7 years.
              They are very efficient and provide an exceptional service.
              MindPROS is friendly, approachable, helpful and understanding,
              They demonstrate professionalism and passion in their work. I
              appreciate their quick response, efficiency and prompt follow-up
              to my requests.
            </p>
          </div>
        </div>
      </div>
      <div class="left-arrow w-slider-arrow-left">
        <div class="w-icon-slider-left"></div>
      </div>
      <div class="right-arrow w-slider-arrow-right">
        <div class="w-icon-slider-right"></div>
      </div>
      <div class="slider-dots w-slider-nav w-slider-nav-invert w-round"></div>
    </div>
  </div>
</div>
