<div class="main-container policies">
  <div class="policy-text w-richtext">
    <h1>Privacy Policies</h1>
    <h5>Effective Date: August 27, 2014</h5>
    <p>
      This Policy describes how MindPROS, Inc. collects, uses, and discloses
      certain personally identifiable information that it receives in the United
      States both on our Website located at
      <a href="index.html">www.mind-pros.com</a> and offline.
    </p>
    <h3>
      <strong>Personally Identifiable Information That We Collect</strong>
    </h3>
    <p>
      In general, you can visit this website (<a href="index.html"
        >www.mind-pros.com</a
      >) without identifying yourself or revealing any personally identifiable
      information. There are times, however, that you may choose to give us
      personally identifiable information, such as your name, address, phone
      number, e-mail address and other information about yourself. For example,
      if you would like to receive information about MindPROS, Inc., you will
      need to provide us information such as your name, email address and/or
      telephone number. In response to employment opportunities at MindPROS,
      Inc., you may submit your resume through this website. We also provide you
      with the opportunity to e-mail us questions or comments about this Website
      and our Company.
    </p>
    <h3>Our Use of Your Personally Identifiable Information</h3>
    <p>
      We only use the personally identifiable information that you provide
      through this website to help us improve our services to you, to provide
      you with the information you have requested, to respond to your questions
      or resume submission, and for other internal purposes.
    </p>
    <h3>Access to Your Personally Identifiable Information</h3>
    <p>
      If you would like to access personally identifiable information that you
      have provided through this Website to correct or request deletion, please
      contact us at
      <a
        href="/cdn-cgi/l/email-protection#751c1b131a35181c1b115805071a065b161a18"
        ><span
          class="__cf_email__"
          data-cfemail="8ce5e2eae3cce1e5e2e8a1fcfee3ffa2efe3e1"
          >[email&#160;protected]</span
        ></a
      >
      or 410-775-5999. We will respond to your request within 30 days.
    </p>
    <h3>Third-Party Access to Your Personally Identifiable Information</h3>
    <p>
      MindPROS, Inc. will not sell, rent, or lease to others any personally
      identifiable information that you provide through this Website. Unless we
      have your permission, we will only share the personally identifiable
      information you provide through this Website with other MindPROS, Inc.
      entities and/or business partners who are acting on our behalf for the
      uses described in this Privacy Policy. All MindPROS, Inc. entities and/or
      business partners having access to your personally identifiable
      information are subject to this Privacy Policy with respect to the use of
      your personally identifiable information. These companies are authorized
      to use your personally identifiable information only as necessary to
      provide these services to us.
    </p>
    <p>
      We reserve the right to disclose your personally identifiable information
      as required or permitted by law, or when we believe that disclosure is
      necessary to protect our rights and/or to comply with a judicial
      proceeding, a court order, a law enforcement request, or other legal
      process served on this Website.
    </p>
    <h3>Cookies and Other Tracking Technologies</h3>
    <p>
      As is true of most websites, we gather certain information automatically
      and store it in log files. This information includes Internet Protocol
      (IP) addresses, browser type, Internet Service Provider (ISP),
      referring/exit pages, operating system, date/time stamp, and clickstream
      data.<br />We use this information, which does not identify individual
      users, to analyze trends, to administer the site, to track users’
      movements around the site and to gather demographic information about our
      user base as a whole.
    </p>
    <p>
      We do link this automatically collected data to personally identifiable
      information. [IP addresses are tied to personally identifiable information
      to be used for analytical tracking data. We do this to identify who our
      market is and where they are coming from geographically, as well as from
      what industry.
    </p>
    <p>
      Technologies such as: cookies, beacons, tags and scripts are used by
      MindPROS, Inc. and our partners [marketing partners and technology
      partners][/IP], affiliates, or analytics or service providers [online
      customer support provider, analytics service provider][/online]. These
      technologies are used in analyzing trends, administering the site,
      tracking users’ movements around the site and to gather demographic
      information about our user base as a whole. We may receive reports based
      on the use of these technologies by these companies on an individual as
      well as aggregated basis.
    </p>
    <p>
      We use cookies for [to remember users’ settings (e.g. language
      preference), for authentication][/to]. Users can control the use of
      cookies at the individual browser level. If you reject cookies, you may
      still use our site, but your ability to use some features or areas of our
      site may be limited.
    </p>
    <p>
      We use local storage objects (LSOs) such as HTML5 to store content
      information and preferences [or – other uses][/or]. Third Parties, with
      whom we partner to provide certain features on our site or to display
      advertising based upon your Web browsing activity, use LSOs such as HTML5
      or Flash to collect and store information.
    </p>
    <p>
      We partner with a third party to either display advertising on our Website
      or to manage our advertising on other sites. Our third party partner may
      use technologies such as cookies to gather information about your
      activities on this site and other sites in order to provide you
      advertising based upon your browsing activities and interests.
    </p>
    <p>
      We use Google AdSense to publish ads on this site. When you view or click
      on an ad a cookie will be set to help better provide advertisements that
      may be of interest to you on this and other Websites. You may opt-out of
      the use of this cookie by visiting Google’s Advertising and Privacy page:
      <a href="https://www.google.com/privacy_ads.html"
        >http://www.google.com/privacy_ads.html</a
      >
    </p>
    <h3>Customer Testimonials</h3>
    <p>
      We post customer testimonials/comments/reviews on our website which may
      contain personally identifiable information. We do obtain the customer’s
      consent via email prior to posting the testimonial to post their name
      along with their testimonial. If you wish to update or delete your
      testimonial, you can contact us at
      <a
        href="/cdn-cgi/l/email-protection#bad3d4dcd5fad7d3d4de97cac8d5c994d9d5d7"
        ><span
          class="__cf_email__"
          data-cfemail="9bf2f5fdf4dbf6f2f5ffb6ebe9f4e8b5f8f4f6"
          >[email&#160;protected]</span
        >.</a
      >
    </p>
    <h3>Blogs</h3>
    <p>
      Our Website offers publicly accessible blogs or community forums. You
      should be aware that any information you provide in these areas may be
      read, collected, and used by others who access them. To request removal of
      your personally identifiable information from our blog or community forum,
      contact us at
      <a
        href="/cdn-cgi/l/email-protection"
        class="__cf_email__"
        data-cfemail="85ecebe3eac5e8ecebe1a8f5f7eaf6abe6eae8"
        >[email&#160;protected]</a
      >. In some cases, we may not be able to remove your personally
      identifiable information, in which case we will let you know if we are
      unable to do so and why.
    </p>
    <h3>Newsletters</h3>
    <p>
      If you wish to subscribe to our newsletter(s), we will use your name and
      email address to send the newsletter to you. Out of respect for your
      privacy you may choose to stop receiving our newsletter or marketing
      emails by following the unsubscribe instructions included in these emails
      or you can contact us at
      <a
        href="/cdn-cgi/l/email-protection#f0999e969fb0869d8394958399979e83de939f9d"
        ><span
          class="__cf_email__"
          data-cfemail="4b22252d240b2622252f663b39243865282426"
          >[email&#160;protected]</span
        ></a
      >
      or 410-775-5999.
    </p>
    <h3>Customer Service</h3>
    <p>
      We will communicate with you in response to your inquiries, to provide the
      services you request, and to manage your account. We will communicate with
      you by email or telephone, in accordance with your wishes.
    </p>
    <h3>Data Security &amp; Integrity</h3>
    <p>
      We follow generally accepted industry standards to protect the personally
      identifiable information submitted to us on our Website, both during
      transmission and once we receive it. No method of transmission over the
      Internet, or method of electronic storage, is 100% secure, however.
      Therefore, while we strive to use commercially acceptable means to protect
      your personally identifiable information, we cannot guarantee its absolute
      security. If you have any questions about security, you can contact us by
      using the contact form on our website.
    </p>
    <h3>Data Retention</h3>
    <p>
      We will retain your information for as long as your account is active or
      as needed to provide you services. If you wish to cancel your account or
      request that we no longer use your information to provide you services
      contact us at
      <a
        href="/cdn-cgi/l/email-protection"
        class="__cf_email__"
        data-cfemail="771e191118371a1e19135a070518045914181a"
        >[email&#160;protected]</a
      >. We will retain and use your information as necessary to comply with our
      legal obligations, resolve disputes, and enforce our agreements.
    </p>
    <h3>Links to 3rd Party Sites</h3>
    <p>
      Our Site includes links to other websites whose privacy practices may
      differ from those of MindPROS, Inc. If you submit personally identifiable
      information to any of those sites, your information is governed by their
      privacy policies. We encourage you to carefully read the privacy policy of
      any Website you visit.
    </p>
    <h3>Social Media Widgets</h3>
    <p>
      Our Website includes Social Media Features and Widgets, such as the Share
      this button or interactive mini-programs that run on our site. These
      Features may collect your IP address, which page you are visiting on our
      site, and may set a cookie to enable the Feature to function properly.
      Social Media Features and Widgets are either hosted by a third party or
      hosted directly on our Site. Your interactions with these Features are
      governed by the privacy policy of the company providing it.
    </p>
    <h3>Changes in This Privacy Policy or Our Privacy Practices</h3>
    <p>
      If we decide to change our privacy policy or practices, we will post those
      changes to this privacy policy, the home page, and other places we deem
      appropriate so that you are aware of what information we collect, how we
      use it, and under what circumstances, if any, we disclose it. We reserve
      the right to modify this privacy policy at any time, so please review it
      frequently. If we make material changes to this policy, we will notify you
      here, by email, or by means of a notice on our home page prior to the
      change becoming effective.
    </p>
    <p>
      If you have any questions or concerns about this privacy notice, the
      practices of this site or your interaction with this website, please
      contact 305 Paladium Ct, Owings Mills, MD 21117.
    </p>
    <p>
      MindPROS, Inc. provides a wide variety of services and solutions to its
      business clients (each, a “Client”) that facilitate services for their
      employees (“End Users”). In these cases, personal data collected from End
      Users is owned by the applicable Client, and MindPROS processes this data
      on the Client’s behalf. There may be limited instances in which MindPROS
      owns and processes personal data collected from End Users on its own
      behalf, rather than on behalf of a Client.
    </p>
    <h3>Clients, Suppliers, and Business Partners</h3>
    <p>
      MindPROS, Inc. may obtain various types of Personal Data about our
      business clients or their end users. Such data may include contact
      information (names, business addresses, phone and fax numbers, and email
      addresses); information about products and services ordered or provided;
      financial and payment information; user ID, passwords, and information
      collected through Internet-based activities, and other transaction-related
      data.
    </p>
    <p>
      MindPROS, Inc. may use these types of Personal Data for business purposes,
      including to deliver or provide services; to establish or maintain client
      and business relationships; to provide access to Internet-based
      activities; to perform accounting functions; and to conduct other
      activities as necessary or appropriate in connection with the servicing
      and development of the business relationship.<br />
    </p>
    <p>
      Wherever we obtain access to Personal Data about Data Subjects or End
      Users, we are acting as a mere data processor on behalf of our business
      clients, and we therefore conduct such activities strictly in accordance
      with their instructions and pursuant to our contractual arrangements with
      them. If you are an End User with an existing relationship with one of our
      Business Clients, you should refer to the Client’s website to understand
      the privacy practices that apply to Personal Data that we may maintain
      about you. Moreover, if you would like to access and review your Personal
      Data, you should contact our Business Client with any such requests. We
      will cooperate as appropriate with requests from our Business Clients to
      assist with such responses.<br />
    </p>
  </div>
</div>
