<div class="hero-about">
  <div class="main-container hero__content">
    <h1 class="heading-1">Training</h1>
  </div>
  <div class="hero-bg traing"></div>
</div>
<div class="main-container our-values">
  <div class="careers-title">We believe in anytime, anywhere.</div>
  <p class="p--regular">
    At MindPROS, we offer a broad array of instructor-led classroom training,
    virtual classroom training, and self-paced online training. Our courses are
    cost-effective and high-impact, and are flexible enough to accommodate the
    needs of the busiest individual.
  </p>
  <p class="p--regular">
    We are an Authorized Learning Partner for many Products. We work with our
    clients to lead them through the certification paths they need to succeed in
    their day to day responsibilities.
  </p>
  <p class="p--regular">
    MindPROS Training offers custom training solutions to suit your specific
    needs. If you don’t see the training you are looking for, just ask!
  </p>
  <div class="careers-title">
    What else should you know about MindPROS Training?
  </div>
  <p class="p--regular">
    MindPROS is investing – expanding our virtual labs, hiring additional
    experienced instructors, and growing our portfolio offerings.
  </p>
  <p class="p--regular">
    MindPROS is more than a training organization – we provide technical support
    services and create technical documentation for many of the products for
    which we provide training. This directly impacts the quality of training
    that our customers receive.
  </p>
  <p class="p--regular">
    For more information on our courses, contact us at
    <a
      href="/cdn-cgi/l/email-protection#472e292128072a2e29236a373528346924282a"
      target="_blank"
      rel="noopener"
      ><span
        class="__cf_email__"
        data-cfemail="8ce5e2eae3cce1e5e2e8a1fcfee3ffa2efe3e1"
        >[email&#160;protected]</span
      ></a
    >
  </p>
  <div id="values" class="anchor-point"></div>
</div>
